@using BookstoreWeb.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <!----------------------------------------------------------------start imports----------------------------------------------------------------->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!---------------------------------------------------------------------end imports----------------------------------------------------------------------->
    <!-----------------------------------------------------------------------------start header---------------------------------------------------------------------->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">BookstoreWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Content Managment</a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="CoverType" asp-action="Index">Cover Type</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Company</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a>


                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                Manage Order
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Gallery">
                                Gallery
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                @await Component.InvokeAsync("ShoppingCart")
                            </a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                    @* <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>*@
                </div>
            </div>
        </nav>
    </header>  <!-- --------------------------------------------------------- end header ------------------------------------------------------------------->
    <!--------------------------------------------------------start confetti background landing page--------------------------------------------------->

  <!--  <section class="example-2">
      <div class="content" style="padding:25% 0;text-align: center;">
        <h1 style="font-size: 4em;text-transform: uppercase;letter-spacing: -.05em;">Welcome!</h1>
        <p style="font-size: 1.5em;text-transform: uppercase;">Have a look around, maybe buy something &#128522;</p>
      </div>
      <canvas id="canvas2"></canvas>
    </section>  -->






    <!-------------------------------------------------------------------start render body------------------------------------------------------------->
    <div class="container" id="Shop">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>
    <!---------------------------------------------------------------------end render body-------------------------------------------------->
    @* <div class="container" id="Shop">
        <main role="main" class="pb-3">
        <partial name="_Notification" />
        @RenderBody()
        </main>
        </div>
        <!-- library background -->
        @if(ViewBag.isHome) {
        <div id="" class="about">
        <div class="container-fluid ">
        <div class="row justify-content-center">
        <!--top of the page-->
        <div class="about_box">
        <div class="titlepage">
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <h1 class="text-white">Shop the most<strong class="yellow"> Rare & Exclusive Finds!</strong></h1>
        </div>
        <div class=" container-43">
        <p class="">Our collection of books are one-of-a-kind that you will not find anywhere else!</p>
        </div>
        <a href="#">Shop Now</a>
        </div>
        </div>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
        }
        <!-- end library background  -->*@

    <div class="body-ex">
        <!-------------------start scrolling components-------------------------------->
        <div class="qcontainer">
            <div class="slide-container active">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="~/images/hab.PNG" />
                        <div class="user-info">
                            <h3>C# .NET Framework</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">Built by Microsoft corp. </p>
                </div>
                <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
                <div id="prev" class="fas fa-chevron-left" onclick="prev()"></div>
            </div>
            <div class="slide-container ">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="~/images/hab.PNG" />
                        <div class="user-info">
                            <h3>MS SQL Server</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">
                        Relational database hosted by Azure in the cloud for all storage purposes
                    </p>
                </div>
                <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
                <div id="prev" class="fas fa-chevron-left" onclick="prev()"></div>
            </div>
            <div class="slide-container ">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="~/images/hab.PNG" />
                        <div class="user-info">
                            <h3>Entity Framework Core</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">
                        Suports database object mapping in .net
                    </p>
                </div>
                <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
                <div id="prev" class="fas fa-chevron-left" onclick="prev()"></div>
            </div>
            <div class="slide-container ">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="~/images/hab.PNG" />
                        <div class="user-info">
                            <h3>Azure App Service</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">
                        Azure app service maintains connection between app, database, host & client servers all while providing security and much more
                    </p>
                </div>
                <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
                <div id="prev" class="fas fa-chevron-left" onclick="prev()"></div>
            </div>
            <div class="slide-container ">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="~/images/hab.PNG" />
                        <div class="user-info">
                            <h3>MVC Architecture</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">
                        Separates architecture between model, view and controllers.
                    </p>
                </div>
                <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
                <div id="prev" class="fas fa-chevron-left" onclick="prev()"></div>
            </div>
            <div class="slide-container ">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="~/images/hab.PNG" />
                        <div class="user-info">
                            <h3>Razor Pages</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">
                        Microsoft technology that can render web apps standalone. They have been used and configured for email++ functionality here
                    </p>
                </div>
                <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
                <div id="prev" class="fas fa-chevron-left" onclick="prev()"></div>
            </div>
            <div class="slide-container ">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="~/images/hab.PNG" />
                        <div class="user-info">
                            <h3>Javascript Animations</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">
                        Various embedded JS animations throughout
                    </p>
                </div>
                <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
                <div id="prev" class="fas fa-chevron-left" onclick="prev()"></div>
            </div>
            <div class="slide-container ">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="~/images/hab.PNG" />
                        <div class="user-info">
                            <h3>C# .NET Framework</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">
                        Built by Microsoft corp.
                    </p>
                </div>
                <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
                <div id="prev" class="fas fa-chevron-left" onclick="prev()"></div>
            </div>
            <script>
                let slides = document.querySelectorAll('.slide-container');
                let index = 0;
                function next() {
                    slides[index].classList.remove('active');
                    index = (index + 1) % slides.length;
                    slides[index].classList.add('active');
                }
                function prev() {
                    slides[index].classList.remove('active');
                    index = (index - 1 + slides.length) % slides.length;
                    slides[index].classList.add('active');
                }
            </script>
        </div>
    </div>    <!-- --------------------------------------------------end scrolling testimonials-------------------------------------------------------------------------------------------->


    <footer class="footer text-muted bg-primary">
        <div class="container">
            &copy; 2022 - BookstoreWeb
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>


}


