<style>
    section {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        display: block;
        box-sizing: border-box;
        white-space: nowrap;
    }

        section > * {
            z-index: 9;
            position: relative;
            top: 0;
        }

        section > canvas {
            z-index: 1;
            position: absolute;
            left: 0;
        }

</style>




<!DOCTYPE html>
<html>
        <script src="~/js/confetti.min.js.js" type="module"></script>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>



<body>
    <h1 class="ml1 mt-4">
        <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">
                Use code 'ASPNet' for 20% off at checkout &#129297;
            </span>
            <span class="line line2"></span>
        </span>
    </h1>

    <section class="example-2">
      <div class="content" style="padding:25% 0;text-align: center;">
        <h1 style="font-size: 4em;text-transform: uppercase;letter-spacing: -.05em;">Welcome!</h1>
        <p style="font-size: 1.5em;text-transform: uppercase;">Have a look around, maybe buy something! &#128522;</p>
        <a type="button" asp-area="Customer" asp-controller="Home" asp-action="Gallery" class="lookbtn btn">Look Around</a>
        <a type="button" class="BSbtn btn" asp-area="Customer" asp-controller="Home" asp-action="ShopIntro">Buy Something</a>

      </div>
      <canvas id="canvas2"></canvas>
    </section>

 
    <!--   <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>    -->

    <div class="spacing"></div>


   











<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


                        @section Scripts {
                            <!--start moving letters -->
    <script type="text/javascript">
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml1 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml1 .letter',
                scale: [0.3, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 600,
                delay: (el, i) => 70 * (i + 1)
            }).add({
                targets: '.ml1 .line',
                scaleX: [0, 1],
                opacity: [0.5, 1],
                easing: "easeOutExpo",
                duration: 700,
                offset: '-=875',
                delay: (el, i, l) => 80 * (l - i)
            }).add({
                targets: '.ml1',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
    </script>

    <!-- Importing generator -->
    <script type="text/javascript" src="~/js/confetti.min.js.js"></script>
    <!-- Starting site logic -->
    <script type="text/javascript">

      //First example
      //var canvas1Settings = {
      //  target: 'canvas1',
      //  max: 100,
      //  props: ['square', 'triangle', 'line'],
      //  colors: [[80,80,80]],
      //  clock: 3
      //};
      //var canvas1 = new ConfettiGenerator(canvas1Settings);
      //canvas1.render();

      //Second example
      var canvas2Settings = {
        "target":"canvas2",
        "max":"180",
        "animate":true,
        "props":["circle","square","triangle","line"],
        "colors":[[165,104,246],[230,61,135],[0,199,228],[253,214,126]],
        "clock":"25"
      };
      var canvas2 = new ConfettiGenerator(canvas2Settings);
      canvas2.render();
   
      //Third example
      //var canvas3Settings = {
      //  target: 'canvas3',
      //  max: 30,
      //  animate: true,
      //  props: ['circle'],
      //  colors: [[165,104,246],[230,61,135],[0,199,228],[253,214,126]],
      //  clock: 25
      //};
      //var canvas3 = new ConfettiGenerator(canvas3Settings);
      //canvas3.render();
      
    </script>

}

        </body>
        </html>