
@{
    ViewData["Title"] = "PlaxTest";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Join the Adventure</title>
        <link rel="stylesheet" href="~/css/plaxstyle.css" />
    </head>
    <body>
        <div class="container">
            <p>sad;lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
                lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
                lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
            </p>
            
                <p>sad;lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
                lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
                lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
            </p>
            </div>

    </body>
</html>