
@{
    ViewData["Title"] = "PlaxTest";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Join the Adventure</title>
        <link rel="stylesheet" href="~/css/plaxstyle.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="~/js/parallax.min.js"></script>
    </head>
    <body>
        <div class="container">
            <p>sad;lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
                lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
                lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
            </p>
            <div class="parallax" data-z-index="1" data-parallax="scroll" data-image-src="~/images/10.PNG"></div>

                <p>sad;lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
                lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
                lkfjds;lkajfl;dsajfdslaflk;kdsajfkl;dsjk
                lkdsa;fjlkdsajfk;ldsakjfldskjf;ldsajf
                lkdsajflkdsajfk;ldsjflk;dsjfakl;dsjfdlk;sajf;l
                ;lkdsajfkldsajflkdsjlfajdslkf;sja
            </p>
            </div>

    </body>
</html>