
@{
    ViewData["Title"] = "ShopIntro";
}

    <!----------------------------------------------------------------start library background---------------------------------------------------------- -->
        <div id="" class="about">
            <div class="container-fluid ">
                <div class="row justify-content-center">
                    <!--top of the page-->
                <div class="about_box">
                        <div class="titlepage">
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                            <strong><h1 class="text-white">Shop the most<h1 class="yellow"> Rare & Exclusive Finds!</h1></h1></strong>
                        </div>
                        <div class=" container-43">
                            <p class="">Our collection of books are one-of-a-kind that you will not find anywhere else!</p>
                        </div>
                        <a href="#Shop">Shop Now</a>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    <!-- ---------------------------------------------------------end library background -------------------------------------------------------- -->
    

