<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Join the Adventure</title>
        <link rel="stylesheet" href="~/css/tripstyle.css" />
    </head>
    <body >
        <h1> Join our next Voyage!</h1>
        <p>December 12th-23rd, Palo Alto, California</p>
        <div class="container">
            <p class="description">Whether you are visiting for business or pleasure, or to attend a conference or other event at Stanford University, you will quickly discover the unusual blend of intellect, innovation, culture and natural beauty that makes up Palo Alto and the rest of the Midpeninsula. Palo Alto is home to Nobel Prize winners, Silicon Valley CEOs, venture capital firms, Hewlett-Packard and one of the most renowned universities and medical centers in the world. Though Palo Alto developed as a sleepy college town, the emergence of Stanford University in the 1970s as the nation's leading high-technology research center paved the way for hundreds of startup businesses with connections to Stanford professors and their inventions. Thus, Palo Alto became known as the birthplace of Silicon Valley and attracted engineers and others from all over the world to pursue their dreams.
            </p>

            <div class="parallax"></div>

             <p class="description">The Stanford campus itself is the biggest visitor attraction, and visitors could easily spend a day or longer exploring the beautiful campus. But at a minimum any visit should also include a walk or drive through the tree-lined residential neighborhoods (among the costliest in the nation), a walk in the foothills or Baylands, and some great shopping and eating in the handful of nearby business districts, including ones in Menlo Park and Mountain View. Reset with a stroll around 1,940 acres of undisturbed salt marshes at Baylands Nature Preserve. Fifteen miles of pancake-flat trails mean the area works well for joggers and cyclists, while an incredible array of local winged wildlife—pheasants, pelicans, hummingbirds, and more—makes it a top choice for birdwatchers too. Thoughtful, creative, and playfully chic, Bird Dog is a star of the South Bay dining scene. Chef Robbie Wilson delivers a remix of East-West cuisine in a dining room featuring white concrete walls dotted with colorful ducks. Must-tries include the warm spiced roti (complimentary with every meal) and the wood-grilled avocado filled with homemade ponzu and fresh wasabi.
            </p>
        </div>

   </br> </br>
    <div id="customCursor" class="container-bird">
       <div class="bird-container bird-container--one">
           <div class="bird bird--one"></div>
       </div>
        <div class="bird-container bird-container--two">
           <div class="bird bird--two"></div>
       </div>
       <div class="bird-container bird-container--three">
           <div class="bird bird--three"></div>
       </div>
       <div class="bird-container bird-container--four">
           <div class="bird bird--four"></div>
       </div>
    </div>
     
    </br> </br>

        <h1 class="mt-lg-5">Check out our prior trip!</h1>
         <h3 class="">Sep 23rd, Anchorage Alaska</h3>


        <div class="container">
            <p class="description">
The Alaska Native Heritage Center is one of the best places for an introduction to diverse Alaska Native traditions and language. Anchorage is located within the traditional homelands of the Dena'ina Athabascan people and the Native Village of Eklutna, and Alaska is home to many more distinct groups, each with its own features and lifestyles based on the surrounding environments. Learning about these important Indigenous cultures and histories is a big part of any visit to Alaska. The railroad is what gave Anchorage its start, and first linked broad stretches of Alaska together. The city is still the starting point for rail travel in Alaska, with trains departing daily in the summer for Seward, Prince William Sound, Denali, Talkeetna and Fairbanks. Check out the Glacier Discovery train to Spencer Whistle stop, it’s an easy – and incredible – day trip while in Anchorage. There are more than a thousand of these iconic, antlered animals in Anchorage alone. Spend a little time here, and you’re sure to find one. There’s even a popular moose spot right next to the airport. In a pinch? Head to the Alaska Wildlife Conservation Center or Alaska Zoo for a guaranteed date with a moose.Chugach State Park is the closest wilderness area and one of the largest state parks in the country, with access points a short drive from anywhere in the city. Find a piece of this 9,000-square-mile Chugach mountain range to call your own for the day. Take a hike, raft the rapids, or relax and soak up endless views from a serene alpine meadow. Anglers find five species of salmon in local waters, not to mention trout, grayling and Arctic char. And there’s no need to mount an expedition. Anchorage's most popular salmon fishery is a stone’s throw from the city center. King and silver salmon return to Ship Creek every summer, and the popular Slam'n Salm'n Derby (held annually in June) is a family-friendly way to compete for the biggest catch.            </p>

            <div class="parallax-2"></div>

             <p class="description">
Anglers aren’t the only residents who follow the fish. Beluga whales chase salmon runs just off the coast. Take a trip down Turnagain Arm to spot them. These white whales get as big as a car. Looking for bigger species? Continue on to Seward or Whittier for a day of whale watching. Alaska is the only place in the U.S. with black, brown and polar bears. Anchorage bear viewing often involves a short flight to a salmon-filled stream in Katmai or Lake Clark national parks or nearby Chinitna Bay. Here visitors can view the bruins, big coastal browns, without disturbing the bears. Find bears closer to the city at the Alaska Wildlife Conservation Center, and keep an eye out while hiking or biking local trails throughout Anchorage — black bears can occasionally be spotted meandering through underbrush in parks and greenbelts around town. Between March 20 and September 22, Anchorage has more daylight than anywhere in the other 49 states. The city gains five minutes a day – as much as a half hour each week – meaning plenty of time for outdoor evening activities. Hike a nearby mountain peak, follow a bike trail through sun-dappled woods, cast a line for salmon in a local stream, and enjoy dinner al fresco surrounded by vast Alaska views. It’s incredible how much fits in a day when the sun barely ever sets! Tides in Anchorage are extreme, with some of the highest tides in the world. The shallow, narrow waters of Turnagain Arm help form a bore tide, a wave up to 6 feet tall that rolls for miles along the inlet. The Seward Highway is dotted with good vantage points to watch this natural phenomenon, and perhaps even spot the intrepid surfers who seek to ride the wave. What Alaska visit is complete without exploring the national parks? Anchorage’s proximity makes visiting multiple parks easy. Fly over Denali, check out Kenai Fjords on a day cruise or kayak trip, and take off for Lake Clark or Katmai for bear viewing.            </p>
        </div>



         </br> </br>
    <div id="customCursor" class="container-bird">
       <div class="bird-container bird-container--one">
           <div class="bird bird--one"></div>
       </div>
        <div class="bird-container bird-container--two">
           <div class="bird bird--two"></div>
       </div>
       <div class="bird-container bird-container--three">
           <div class="bird bird--three"></div>
       </div>
       <div class="bird-container bird-container--four">
           <div class="bird bird--four"></div>
       </div>
    </div>
     

    </br> </br>

    </body>
</html>